.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  padding: 10px 30px 0 20px;
}

@media (max-width: 768px) {
  .nav {
    height: 8vh;
    padding: 10px 8% 0 6%;
  }
}
