.main-bottom {
  height: 10vh;
  width: auto;
  /* max-width: 900px; */
  padding: 0px;
  margin: 0px 26% 0px 25%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-bottom .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 7px 15px;
  border-radius: 6px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottom-info {
  font-size: 13px;
  margin: 10px auto;
  text-align: center;
  font-weight: 300;
  color: #aaaaaa;
}
