.sidebar {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  /* background-color: #f0f4f9; */
  padding: 25px 15px;

  border-right: 2px solid red;
}

.sidebar .menu {
  display: block;
  margin: 0 10px;
  cursor: pointer;
}

.new-chat {
  margin: 30px 0px 0px 10px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.new-chat p {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  padding-right: 50px;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s;
  overflow: scroll;
}

.recent::-webkit-scrollbar {
  display: none;
}

.sidebar .recent-title {
  margin: 30px 0px 10px 10px;
  font-size: 15px;
  font-weight: 600;
}

.recent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  padding: 10px 20px 10px 10px;
  border-radius: 50px;
  width: 200px;
}

.recent-entry {
  display: flex;
  align-items: center;
  color: #282828;
}

.recent-container:hover {
  background-color: #f1f3f6;
}

.recent-entry img {
  width: 16px;
  height: auto;
  padding-top: 2px;
  margin-left: 5px;
  margin-right: 8px;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.bottom-item img {
  margin: 0;
  width: 20px;
}

.bottom-item p {
  color: #999999;
  font-size: 12px;
  font-weight: 500;
}

/* Responsive Style */
@media (max-width: 600px) {
  .sidebar {
    padding: 20px 5px 10px 10px;
  }

  .new-chat {
    margin: 0px 0px 0px 10px;
    gap: 6px;
  }

  .new-chat p {
    font-weight: 500;
  }
}
