.main-container {
  max-height: 80vh;
  width: auto;
  margin: 0 25% 0 25%;
  padding: 0 0 120px 0;
}

.orbit-image {
  display: flex;
  justify-content: center;
}

.orbit-image img {
  width: 60px;
}

/* CHECK */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  height: 140px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.card img {
  height: 32px;
  padding: 5px;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.card p {
  color: #666;
  font-weight: 400;
  font-size: 17px;
}

.card:hover {
  background-color: #dfe4ea;
}

/* @media (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 150px;
  }

  .main-bottom img {
    width: 20px;
  }

  .search-box {
    padding: 5px 10px;
  }

  .search-box div {
    gap: 5px;
  }
} */

@media (max-width: 1400px) {
  .main-container {
    margin: 0 15% 0 15%;
  }
}

@media (max-width: 800px) {
  .main-container {
    margin: 0 8% 0 8%;
  }
}
